@{
    Layout = "_LayoutAdmin"; // Bu sayfa için özel düzeni belirler"
}
<h4>Admin Page</h4>
@{/*Partial View çağrısı Fakat LayoutAdmin'de bootstrap olmadığı için görünüm istenildiği gibi olmayabilir. */ }
@Html.Partial("_PartialCategory")