@{
    Layout = "_Layout"; // Bu sayfa için özel düzeni belirler"
}
<div class="row">
    <div class="col-md-8">
        <div class="text-center">
            <h1 class="display-4">HomePage</h1>
        </div>
    </div>
    @{/*Partial View çağrısı */}
    @Html.Partial("_PartialCategory")
</div>

