@model User; // başka modelleri dahil etmek için kullanılır.

<h4>Product Page</h4>
<div>
    
    @foreach(Product item in ViewBag.Products)
    {
        <p>@item.Name</p>
        <p>@item.Description</p>
        <p>@item.Price</p>
    }

</div>