@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>

@{
    /* Nested Section kullanımı Scripts adlı layouttaki alana bu sayfa için jquery eklenir.*/
}

@section Scripts{
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
}
