@{
    ViewData["Title"] = "Yetki Reddedildi";
}

<h1 class="text-danger">Erişim Reddedildi (403)</h1>
<p>@ViewData["Message"]</p>
<p>Lütfen yetkili bir kullanıcı ile giriş yapınız veya Ana Sayfa'ya dönün.</p>
<p>
    <a asp-controller="Home" asp-action="Index">Ana Sayfaya Dön</a>
</p>