@model Product
<h1>Product Details</h1>

<div>
    <h4>Are you sure ?</h4>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dt class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dt>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dt class="col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dt>
    </dl>
</div>
<div>
    <form asp-action="Delete" method="post">
        <input type="hidden" asp-for="ProductId" />
        <input type="submit" class="btn btn-danger" value="Delete">
        <a asp-action="Index" class="btn btn-secondary">Back to List</a>
    </form>
</div>