@{
    ViewData["Title"] = "Home Page";
}
@{
    SelectListItem[] liste = new SelectListItem[]
    {
        new SelectListItem { Text = "Ali", Value = "Ali" },
        new SelectListItem { Text = "Ahmet", Value = "Ahmet" },
        new SelectListItem { Text = "Mehmet", Value = "Mehmet" }
    };
}
<div class="text-center">
    @* <form method="POST" action="/Home/KisiGonder">
        <input type="text" name="ad" />
        <br />
        <select name="kisiler">
            <option value="Ali">Ali</option>
            <option value="Ahmet">Ahmet</option>
            <option value="Mehmet">Mehmet</option>
        </select>
        <br />
        <input type="checkbox" name="onay" /> Onaylıyorum
        <br />
        <input type="submit" value="Gönder" />
    </form> *@
    @* Html Helper  *@
    @using (Html.BeginForm("KisiGonder", "Home", FormMethod.Post))
    {
        @Html.TextBox("ad")
        <br />
        @Html.DropDownList("kisiler", liste)
        <br />
        @Html.CheckBox("onay") @("Onaylıyorum")
        <br />
        <input type="submit" value="Gönder" />
    }
</div>
