<div class="text-center">
    <div>
        <input type="text" placeholder="kullanıcı adı" />
    </div>
    <div>
        <input type="password" placeholder="parola" />
    </div>
    <input type="submit" value="Giriş Yap" class="btn btn-primary"/>
</div>

